<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>{{ page.title }}</title>
    <link href="css/screen.css" media="screen" rel="stylesheet" 
type="text/css" />
  </head>
  <body>
    <div id="site">
      <div id="header" class="basic" style="margin-bottom:20px">

        <div class="site">
          <div class="logo">
            <a href="/"><img 
src="logo/fno-logo.png" alt="Frog and Owl" /></a>
          </div>
	  <div class="title">
	    <p> {{ page.title }} </p>
	  </div>
	  <div id="topsearch">
  	    <ul class="nav logged_out" style="margin-top:20px">
              <li><a href="http://github.com/frogandowl/Open-SP">Back to our GitHub page</a></li>
            </ul>
          </div>
	</div>
      </div>
      <hr>
      <div id="content" class="site">

        {{ content }}

      </div>
    
    <div id="author">
      <h2>Authors</h2>
      <p class="authorname">{{ page.author }}</p>
      <h2>Technical Assistant</h2>
      <p class="authorname">{{ page.tecass }}</p>
      <h2>Contact</h2>
      <p class="authorname">{{ page.contact }}</p>
    </div>


    <div id="footer">
      <div class="site">

        <div class="info">
          <div class="links">
            <a href="http://frogandowl.org"><b>Frog and Owl</b></a> |
            <a href="http://github.com/frogandowl">We @ GitHub</a> |
            <a href="http://github.com/frogandowl/Open-SP">Open SP</a> |
            <a href="http://github.com/contact">Contact</a> |
          </div>
          <div class="company">
           &copy;
            {{ site.time | date: "%Y" }}
            Frog and Owl
            All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

